body {
    font-family: sans-serif;
    # background-color: lightsalmon;
    # margin-top: 75px;
    background-image: url("/ui/pittedpaper.png");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.text-color {
    color: #394646;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.img-128x128 {
    height: 128px;
    width:  128px;
}

.img-64x64 {
  height: 64px;
  width:  64px;
}

.cosmo {
    margin:           5px 5px;
    background-color: seashell;
    font-family:      sans-serif;
}

.sysadmin-text {
  font-family : courier;
  color       : #000000;
}

.text-medium {
  font-size: 200%;
}

.text-normal {
  font-size: 100%;
}

.text-sub-normal {
  font-size: 70%;
}

.sublime-text {
  font-family: georgia;
  color: #878787;
}

.small-linebreak {
  line-height: 5px;
}
