body {
    font-family: sans-serif;
    # background-color: lightsalmon;
    # margin-top: 75px;
    background-image: url("/ui/pittedpaper.png");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.text-color {
    color: #394646;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.img-128x128 {
    height: 128px;
    width:  128px;
}

.cosmo {
    margin:           5px 5px;
    background-color: seashell;
    font-family:      sans-serif;
}

.sysadmin-text {
  font-family : courier;
  color       : #000000;
}
